include ../common/mixins
block variables

<!doctype html>
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width,initial-scale=1")
    <meta name="description" content="A hiking guide website"/>
    meta(name="keywords" content="")
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="format-detection" content="telephone=no")
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#353ba5">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="libs/normalize.min.css">
    link(rel="stylesheet", href="css/style.min.css")
    block styles
  body
    -var page
    main.b-wrapper
      include ../modules/header/header
      block page-content
      include ../modules/footer/footer
    //vendor scripts
    script(src="libs/svgxuse.min.js")
    script(src="libs/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
    script(src="https://unpkg.com/scrollreveal")
    script(src="libs/hover-effect.umd.js")
    script(src="libs/da.js")
    script(src="js/scripts.js")
    //user scripts
    block script