footer.b-footer
    .b-footer__container.b-container.b-container--secondary
        .b-footer__inner
            .b-footer__main
                .b-footer__content
                    a(href="index.html").b-footer__logo.b-logo
                        .b-logo__company <span>M</span><span>N</span><span>T</span><span>N</span>
                    p.b-footer__info Get out there & discover your next slope, mountain & destination!
                    .b-footer__media.b-media
                        ul.b-media__list--horizontal
                            li.b-media__item
                                a(href="#" title="Instagram" rel="noopener noreferrer").b-media__link
                                    +svg('b-media__icon', 'inst')
                            li.b-media__item
                                a(href="#" title="Twitter" rel="noopener noreferrer").b-media__link
                                    +svg('b-media__icon', 'twitter')
                .b-footer__copyright.b-copyright
                    span.b-copyright__info Copyright 2019 MNTN, Inc. Terms & Privacy
            .b-footer__nav
                nav.b-footer__navigation.b-navigation
                    span.b-navigation__title(rel="js-accordion-toggle") More on The Blog
                    ul.b-navigation__list
                        li.b-navigation__item
                            a(href="#").b-navigation__link About MNTN
                        li.b-navigation__item
                            a(href="#").b-navigation__link Contributors & Writers
                        li.b-navigation__item
                            a(href="#").b-navigation__link Write For Us
                        li.b-navigation__item
                            a(href="#").b-navigation__link Contact Us
                        li.b-navigation__item
                            a(href="#").b-navigation__link Privacy Policy
                nav.b-footer__navigation.b-navigation
                    span.b-navigation__title(rel="js-accordion-toggle") More on MNTN
                    ul.b-navigation__list
                        li.b-navigation__item
                            a(href="#").b-navigation__link The Team
                        li.b-navigation__item
                            a(href="#").b-navigation__link Jobs
                        li.b-navigation__item
                            a(href="#").b-navigation__link Press