extends layout/base
block variables
    -var currentPage = 'index'
    -var title = 'MNTN'

block page-content
    section.b-hero
        .b-hero__wrap._js-watch(id="start")
            .b-hero__parallax.b-parallax
                .b-parallax__item.b-parallax__item--1
                    img(src="img/mn_1(1).png", alt="")
                .b-parallax__item.b-parallax__item--2
                    img(src="img/mn_2.png", alt="")
                .b-parallax__item.b-parallax__item--3
                    img(src="img/mn_3.png", alt="")
            .b-hero__inner
                .b-hero__media.b-media
                    .b-media__inner
                        span.b-media__text Follow us
                        ul.b-media__list
                            li.b-media__item
                                a(href="#" title="Instagram" rel="noopener noreferrer").b-media__link
                                    +svg('b-media__icon', 'inst')
                            li.b-media__item
                                a(href="#" title="Twitter" rel="noopener noreferrer").b-media__link
                                    +svg('b-media__icon', 'twitter')
                .b-hero__content
                    p.b-hero__tagline.b-tagline A Hiking guide
                    h1.b-hero__title.b-title Be prepared for the Mountains and beyond!
                    .b-hero__scroll
                        a(href="#step1").b-hero__subtitle scroll down
                            +svg('b-hero__icon', 'arrow')
            .b-hero__pagination.b-pagination(rel="js-pagination")
                ul.b-pagination__list(rel="js-pagination-list")
                    li.b-pagination__item(rel="js-pagination-item")
                        a(href="#start").b-pagination__link.active Start
                    li.b-pagination__item(rel="js-pagination-item")
                        a(href="#step1").b-pagination__link 01
                    li.b-pagination__item(rel="js-pagination-item")
                        a(href="#step2").b-pagination__link 02
                    li.b-pagination__item(rel="js-pagination-item")
                        a(href="#step3").b-pagination__link 03

    section.b-steps
        .b-steps__container.b-container.b-container--secondary
            .b-steps__inner
                ol.b-steps__list
                    li.b-steps__step.b-step._js-watch(rel="js-step" id="step1")
                        .b-step__content
                            p.b-step__tagline.b-tagline GEt Started
                            h2.b-step__title.b-title.b-title--small What level of  hiker are you?
                            p.b-step__text Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
                            a(href="#").b-step__link read more
                                +svg('b-step__icon', 'link_arrow')
                        .b-step__image(data-standard-image="img/img4.jpg" data-hovered-image="img/img_1.png")
                    li.b-steps__step.b-step._js-watch(rel="js-step" id="step2")
                        .b-step__content
                            p.b-step__tagline.b-tagline Hiking Essentials
                            h2.b-step__title.b-title.b-title--small Picking the right Hiking Gear!
                            p.b-step__text The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get away with things you already have. Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy and chafe wif they get sweaty or wet.
                            a(href="#").b-step__link read more
                                +svg('b-step__icon', 'link_arrow')
                        .b-step__image(data-standard-image="img/img3.jpg" data-hovered-image="img/img_2.png")
                    li.b-steps__step.b-step._js-watch(rel="js-step" id="step3")
                        .b-step__content
                            p.b-step__tagline.b-tagline where you go is the key
                            h2.b-step__title.b-title.b-title--small Understand Your Map & Timing
                            p.b-step__text To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the guide, study the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike. For example, I’ll read the guide and know that say, in a mile, I make a right turn at the junction..
                            a(href="#").b-step__link read more
                                +svg('b-step__icon', 'link_arrow')
                        .b-step__image(data-standard-image="img/img2.jpg" data-hovered-image="img/img_3.png")
