.b-footer {
    background-color: #0a161d;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 12rem 0;
        @include breakpoint(xs) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 35rem;
        margin-right: 2rem;
        @include breakpoint(xs) {
            align-items: center;
            justify-content: center;
            margin-right: 0;
            margin-top: 4rem;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        @include breakpoint(xs) {
            align-items: center;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        max-width: 56rem;
        width: 100%;
        @include breakpoint(sm) {
            max-width: 43rem;
        }
        @include breakpoint(xs) {
            flex-direction: column;
        }
    }
    &__info {
        margin: 2.4rem 0;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.2rem;
        color: #fff;
        @include breakpoint(xs) {
            text-align: center;
        }
    }
    &__navigation {
        &:not(:last-child) {
            margin-right: 1.5rem;
            @include breakpoint(xs) {
                margin-right: 0;
                margin-bottom: 3rem;
            }
        }
    }
    &__copyright {
        @include breakpoint(xs) {
            margin-top: 3rem;
        }
    }
}
.b-copyright {
    &__info {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 3.2rem;
        color: #fff;
        opacity: 0.5;
    }
}
.b-navigation {
    &__title {
        position: relative;
        display: block;
        margin-bottom: 2.4rem;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $accent-color;
        &::after {
            content: '';
            position: absolute;
            bottom: -9px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            width: 100%;
            height: 2px;
            background-color: $accent-color;
        }
        @include breakpoint(xs) {
            text-align: center;
            &::after {
                display: block;
            }
        }
    }
    &__item {
        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }
    &__link {
        padding: 1rem 0;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 3.2rem;
        color: #fff;
        transition: $trs;
        &:hover {
            color: $accent-color;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        @include breakpoint(xs) {
            align-items: center;
        }
    }
}